@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* styling the nav bar*/

nav{
    width: 100%;
    height: 75px;
    background-color: #5E5559;
    line-height: 75px;
    padding: 0px 80px;
    position: sticky;
    top: 0;
}

nav .logo{
    float: left;
}

nav .logo p{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #fff;
    text-transform: uppercase;
}

nav ul{
   
    float: right;
}

nav ul li{
list-style: none;
display: inline-block;

}

nav ul li a{

    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0px 20px;
}

nav ul li a:hover{

    color: #3A3739;
}

nav ul li a button{

    color: #fff;
    background-color: #5E5559;
    border: 2px solid #3A3739;
    text-align: center;
    font-size: 14px;
    padding: 5px 15px;
   
}

nav ul li a button:hover{

    cursor: pointer;
    background-color: #3A3739;
}


/* nav ul .active{

    color: #3A3739;
} */

.checkbtn{

    color: #fff;
    font-size: 25px;
    cursor: pointer;
    float: right;
    display: none;
}

#check{
    display: none;
}

/*Making navbar responsive*/

@media screen and (max-width: 990px) {

    nav{

        padding: 0 50px;

    }

    .checkbtn{
        display: block;
    }

    nav .logo p{
        font-size: 26px;
    }

    nav ul{
        width: 100%;
        height: 100vh;
        background-color: #3A3739;
        position: fixed;
        top: 75px;
        left: -100%;
        text-align: center;
        transition: 0.4s ease;
    }

    nav ul li{

        display: block;
        margin: 60px 0px;
        line-height: 20px;
    }

    nav ul li a:hover{

        color: grey;
    }

    #check:checked ~ ul{
        left: 0;
    }
    
}

/*styling the search bar*/

.search-bar{

    margin-top: 35px;
}

.search-box{

    position: absolute;
    
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}


.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}



.search-btn{

    color: #e84118;
    float: right;
    width: 40px;
    height: 20px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}



.search-txt{

    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    
}


/*making search bar responsive*/

@media screen and (max-width: 602px) {

    .search-box{

        position: absolute;
        
        left: 50%;
        transform: translate(-50%, -50%);
        background: #2f3640;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
    }


    

}






body{
    background: #3A3739;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    
}

.cards  img {
    border-radius: 5px;
    width: 300px;
    height: 500px;
  }


.card1{

    margin: 20px;
    width: 270px;
    height: 400px;
}

.container {
    /* padding: 2px 16px; */
    color: #fff;
}

.card1 .priceAndBtn{
   
    display: flex;
    justify-content: space-between;
    color: #fff;

}


.card1 .priceAndBtn button{
    color: #fff;
    background-color: #5E5559;
    border: 2px solid #3A3739;
    text-align: center;
    font-size: 14px;
    padding: 5px 15px;
}

/*styling cards2*/

.cards2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    margin-top: 10px;
    
}

.cards2  img {
    border-radius: 5px;
    width: 300px;
    height: 500px;
  }

  .card1{

    margin: 20px;
    width: 270px;
    height: 400px;
}



/*responsiveness of the movie display part*/


@media screen and (max-width: 800px) {
    .cards{

        flex-wrap: wrap;
    }

    .cards .card1{

        margin-bottom: 200px;
    }



    .cards2{

        flex-wrap: wrap;
    }


    .cards2 .card1{

        margin-bottom: 200px;
    }


}



/* styling the footer*/
footer{
    
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #5E5559;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 220px;
}


footer .footer-container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}


footer .footer-container .sec{

    margin-right: 30px;

}


footer .footer-container .sec.aboutus{

    width: 40%;
}

footer .footer-container  h2{

    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;

}

footer .footer-container  h2:before{

    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: rgb(124, 170, 51);
}


footer  p{

    color: #999;
}

.sci{

    margin-top: 20px;
    display: flex;
}

.sci li{

    list-style: none;
}

.sci li a{

    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover{
    background: rgb(124, 170, 51);
}

.sci li a .fa,
.fa-brands
{

    color: #fff;
    font-size: 20px;
}

.quickLinks{

    position: relative;
    width: 25%;
}

.quickLinks ul li{
    list-style: none;
}

.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover{

    color: #fff;
}


.contact-part{

    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact-part .info{

    position: relative;
}

.contact-part .info li{

    display: flex;
    margin-bottom: 16px;
}

.contact-part .info li span:nth-child(1){

    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}


.contact-part .info li span{

    color: #999;
}

.contact-part .info li a{

    color: #999;
    text-decoration: none;
}

.contact-part .info li a:hover{

    color: #fff;
}

.copyrightText{

    width: 100%;
    /* background: #181818; */
    background: #5E5559;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

@media (max-width: 991px){

    footer{

        padding: 40px;
    }

    footer .footer-container{

        flex-direction: column;
    }


    footer .footer-container .sec{

        margin-right: 0;
        margin-bottom: 40px;
    }


    footer .footer-container .sec.aboutus,
    .quickLinks,
    .contact-part
    
    {

        width: 100%;
    }

    .copyrightText{

        padding: 8px 40px;
    }



}


 /* cart item details  */

 .cart-page{
     margin: 80px auto;
     padding-left: 60px;
     padding-right: 60px;
 }

 table{
     width: 100%;
     border-collapse: collapse;
 }

 .cart-info{

    display: flex;
    flex-wrap: wrap;
 }



 th{
     text-align: left;
     padding: 5px;
     color: #fff;
     background: #5E5559;
     font-weight: normal;
 }

 td{

    padding: 10px 5px;
 }

 td input{

    width: 40px;
    height: 30px;
    padding: 5px;
 }

 td a{

    color: #5E5559;
    font-size: 12px;
 }

 td img{
     width: 80px;
     height: 80px;
     margin-right: 10px;
 }

 .total-price{

    display: flex;
    justify-content: flex-end;
 }
 .total-price table{
     border-top: 3px solid #5E5559;
     width: 100%;
     max-width: 500px;
 }

 td:last-child{
     text-align: right;
 }
 th:last-child{
     text-align: right;
 }

 @media only screen and (max-width: 600px) {

    .cart-info p{

        display: none;

    }
     
 }